%h2 Add a GIF
= simple_form_for Gif.new do |f|
  = f.input :source_url, label: "GIF URL"
  = f.input :tag_tokens, label: "Keywords" #, input_html: { data: {load: Tag.all} }
  = f.submit

= will_paginate @gifs

- unless @gifs.empty?
  %ul#gif-list.transitions-enabled
    - @gifs.each do |gif|
      %li.box= image_tag(gif, alt: gif.source_url, title: gif.tags.to_sentence)
- else
  %p No GIFs to show.