- unless @gifs.empty?
  %ul#gif-list
    - @gifs.each do |gif|
      %li= image_tag(gif, height: "150")
- else
  %p No GIFs to show.
%p= link_to "Add Gifs", new_gif_path

= simple_form_for Gif.new, remote: true do |f|
  = f.input :source_url
  = f.submit
